body {
    background-color: rgb(202, 202, 181);
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-shadow: 2px 3px 4px black;
    margin-bottom: 60px;
}

.anotacoes {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anotacoes .topicoHtml, .topicoCss, .topicoJs, .topicoGit, .topicoJava {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    box-shadow: 2px 2px 8px black;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-bottom: 4px;
}

.anotacoes .adicionar {
    margin-top: 5px;
    height: 30px;
    width: 80px;
    box-shadow: 1px 1px 2px black;
}

.anotacoes ul {
    display: none;
    font-family: cursive, 'Courier New', Courier, monospace;
}

#notahtml, #notacss, #notajs, #notagit, #notajava {
    width: 95%;
    height: 20px;
}

.li {
    padding-top: 1em;
}